{% extends "base.html" %}

{% block extraheads %}
    <script>
        function remove_branch(branch) {
            if (confirm(("Are you sure remove branch #" + branch + " and all related packages?"))) {
                $.get("/remove_branch/" + branch, function (data) {
                    $("#branch_" + branch).remove();
                });
            }
        }
    </script>
{% endblock extraheads %}

{% block content %}
    <h3>Branches</h3>
    <a href="{% url "add_branch" %}" class="btn btn-primary">Add</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Path</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for branch in branches %}
            <tr id="branch_{{ branch.pk }}">
                <td>{{ branch.pk }}</td>
                <td>{{ branch.name }}</td>
                <td>{{ branch.path }}</td>
                <td>
                    <a href="{% url "rebuild_packages_by_branch" branch.pk %}" type="button" class="btn btn-default btn-xs" title="Rebuild all packages of this branch">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>

                    <a href="{% url "edit_branch" branch.pk %}" type="button" class="btn btn-default btn-xs" title="Settings">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>

                    <button onclick="remove_branch({{ branch.pk }})" type="button"
                            class="btn btn-default btn-xs"
                            title="Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}