{% extends "base.html" %}
{% load staticfiles %}

{% block extraheads %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular-resource.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular-route.js"></script>

    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/controllers.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
    <script src="{% static "js/filters.js" %}"></script>
{% endblock %}